<?php
define("PARAM_HOST",'mysql-example.example.net');
define("PARAM_PORT",'3306');
define("PARAM_DB",'DATABASE');
const PARAM_USER = 'USERNAME';
const PARAM_PASSWD = 'PASSWORD';
$conn = 'mysql:host='.PARAM_HOST;'port='.PARAM_PORT;'dbname='.PARAM_DB;
$pdo = new PDO($conn,PARAM_USER,PARAM_PASSWD);
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
?>